{
    "irc": {
        "nickname": "infotest",
        "server": "chat.freenode.net",
        "port": 6697,
        "ssl": true,
        "nickserv_pw": null,
        "autojoin": ["#infobob"]
    },
    "database": {
        "dbm": {
            "sync_time": 10,
            "db_file": "/app/db/infobob.chainsdb",
            "order": 8,
            "fragment": 4090,
            "page_size": 32768,
            "fill_factor": 31
        },
        "sqlite": {
            "db_file": "/app/db/infobob.sqlite"
        }
    },
    "web": {
        "port": 8080,
        "url": "https://invalid/"
    },
    "misc": {
        "locale": {
            "default_lang": "en",
            "default_encoding": "utf-8"
        },
        "magic8_file": null,
        "manhole": {
            "socket": null,
            "passwd_file": null
        }
    },
    "channels": {
        "defaults": {
            "commands": [
                ["allow", "all"],
                ["deny", "divine", "lol", "repaste"]
            ],
            "flood_control": [3, 2],
            "default_ban_time": 28800
        },
        "#python-offtopic": {
            "commands": [
                ["allow", "divine"]
            ],
            "flood_control": [5, 5]
        },
        "#python": {
            "commands": [
                ["deny", "all"],
                ["allow", "lol", "codepad", "redent", "repaste"]
            ],
            "have_ops": true
        },
        "#example": {
            "key": "dongs"
        }
    }
}
