{
    "irc": {
        "nickname": "infotest",
        "server": "irc.freenode.net",
        "nickserv_pw": null,
        "autojoin": ["#python", "#python-offtopic"]
    },
    "database": {
        "dbm": {
            "sync_time": 10,
            "db_file": "infobat.chainsdb",
            "order": 8,
            "fragment": 4090,
            "page_size": 32768,
            "fill_factor": 31
        },
        "sqlite": {
            "db_file": "infobat.sqlite"
        }
    },
    "misc": {
        "magic8_file": null,
        "manhole": {
            "socket_prefix": null,
            "passwd_file": null
        }
    },
    "channels": {
        "defaults": {
            "commands": [
                ["allow", "all"],                
                ["deny", "divine", "lol", "repaste"]
            ],
            "flood_control": [3, 2]
        },
        "#python-offtopic": {
            "commands": [
                ["allow", "divine"]
            ],
            "flood_control": [5, 5]
        },
        "#python": {
            "commands": [
                ["deny", "all"],
                ["allow", "lol", "codepad", "redent", "repaste"]
            ],
            "have_ops": true
        },
        "#example": {
            "key": "dongs"
        }
    }
}
